@font-face {
  font-family: "MrsEavesItalic";
  src: url("../fonts/MrsEavesItalic_Italic.ttf");
}

@font-face {
  font-family: "SegoeWPNLight";
  src: url("../fonts/SegoeWPN-Light.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/ofont.ru_Myriad Pro.ttf");
}

@font-face {
  font-family: "UniversalLightRegular";
  src: url("../fonts/Universal Light Regular.ttf");
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ofont.ru_Arial");
}

.header {
  width: 100%;
  height: 55%;
  background: url("../image/headerback.png") no-repeat;
  background-size: 100%;
}

.wraper {
  width: 100%;
  height: 1000px;
}

.logo {
  font-size: 700%;
  font-family: MrsEavesItalic;
  line-height: 32px;
  color: #c4cbce;
  padding-top: 15%;
}

.menu {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav-navli_nava {
  font-size: 140%;
  font-family: SegoeWPNLight;
  color: #c4cbce;
}

.nav-navli {
  padding-right: 10%;
  list-style-type: none;
  padding-top: 10%;
}

.full {
  width: 1024px;
  height: 100%;
}

.imag {
  padding: 20% 0% 0% 5%;
}

.imgslaid {
  position: relative;
  padding: 7%;
}

.intoducing {
  font-size: 350%;
  color: white;
  padding-top: 38%;
}

.somthing {
  font-size: 250%;
  font-family: Myriad Pro;
  color: white;
}

.try {
  margin-top: 3%;
  width: 26%;
  background-color: #2c7652;
  color: white;
  border: solid #2c7652;
}

.reaachedul {
  width: 100%;
  height: 100%;
}

.reachedulul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reachedli {
  width: 25%;
  height: 100%;
  padding-top: 12%;
  list-style-type: none;
}

.reaaachedimg {
  position: relative;
  left: 25%;
}

.re {
  height: 200%;
  width: 1024px;
}

.reachedp {
  font-size: 150%;
  font-family: Myriad Pro;
  color: #5f5f5f;
  padding-top: 9%;
  text-align: center;
}

.imgwwrap {
  display: block;
  margin: 0px auto;
  width: 65%;
  padding-top: 1%;
}

.firs {
  font-size: 250%;
  font-family: SegoeWPNLight;
  color: #4f4f4f;
  padding-top: 2%;
}

.two {
  padding-top: 2%;
  font-size: 100%;
  font-family: UniversalLightRegular;
  color: #818181;
}

.whychoosseus {
  font-size: 250%;
  font-family: SegoeWPNLight;
  color: #4f4f4f;
  padding-top: 17%;
}

.whywep {
  font-size: 100%;
  font-family: UniversalLightRegular;
  color: #8a8888;
}

.whyweulul {
  list-style-image: url("../image/stop.png");
}

.formback {
  background-color: #e67624;
  height: 125%;
}

.formback_h1 {
  padding-left: 5%;
  font-family: SegoeWPNLight;
  color: white;
  font-size: 180%;
  padding-top: 2%;
}

.email {
  color: #4f4f4f;
  font-family: SegoeWPNLight;
  margin-left: 5%;
  background-color: #e8e8e8;
  padding-left: 2%;
}

.submit {
  color: white;
  font-family: SegoeWPNLight;
  background-color: black;
  border: solid black;
  margin-left: 2%;
}

.formbacktwo {
  background-color: #01d4f3;
  height: 125%;
  border-radius: 5px;
}

.footerh1 {
  line-height: 33px;
  font-family: SegoeWPNLight;
  color: white;
  font-size: 150%;
}

.footerul {
  list-style-type: none;
}

.footera {
  line-height: 22px;
  font-family: Arial;
  color: #8f8f8f;
  font-size: 100%;
}

.footer {
  background: black;
}

.footera {
  line-height: 22px;
  font-family: Arial;
  color: #c8c8c8;
  font-size: 90%;
}

.logoa {
  line-height: 22px;
  font-family: Arial;
  color: #dfe0e0;
  font-size: 100%;
}

.pad {
  color: #5a5454;
  font-size: 800%;
}

.whywe_img {
  padding-top: 13%;
}

.whyweli:first-child {
  padding-top: 5%;
}

.wrapperreached {
  display: block;
  margin: auto;
  width: 84%;
}

.formform {
  width: 100%;
  padding-top: 3%;
}

.form {
  height: 20%;
  padding-top: 5%;
  height: 26%;
}

.email:first-child {
  margin-right: -3%;
}

.ssubtwo {
  margin-left: 15%;
}

.emtwo {
  width: 55%;
}
/*# sourceMappingURL=style.css.map */